@import "./fonts/stylesheet.css";
html, body {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 19px;
  font-weight: 400;
  background: #000;
}

a {
  text-decoration: none;
  opacity: 1;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
a:hover {
  opacity: 0.88;
}

ul li {
  list-style: none;
}

.auto__container {
  position: relative;
  max-width: 1510px;
  margin: 0 auto;
  padding: 0 40px;
}

h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 85px;
}

h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

main {
  overflow: hidden;
  padding-top: 144px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: rgba(35, 37, 57, 0.5);
  background: #23253980;
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation-name: sticky;
          animation-name: sticky;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.header__inner {
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 122px;
  height: 95px;
}
.header__inner-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__inner-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__inner-buttons .button.secondary {
  margin-right: 16px;
}
.header__inner .burger {
  display: none;
}

@-webkit-keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.button {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  padding: 20px 68px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 15px;
}
.button.secondary {
  background-color: transparent;
  border: 1px solid;
}
.button.primary {
  background-color: #695BBF;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 48px;
  color: #00FF75;
}
h4 span {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}
h4.big {
  background: linear-gradient(91.69deg, #373d71 3.52%, #515e7b 96.63%);
  border-radius: 15px;
  text-align: center;
  padding: 16px 106px;
  color: #fff;
}
h4.big span {
  opacity: 0.7;
}

.intro {
  margin-top: 400px;
}
.intro__inner-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro__inner-info h4 {
  width: calc(33.3% - 10px);
}
.intro__inner-info h4:nth-child(2) {
  max-width: 180px;
}

.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__inner a {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  margin-right: 32px;
  opacity: 0.5;
  text-transform: uppercase;
}
.nav__inner a:last-child {
  margin-right: 0;
}
.nav__inner a.active {
  opacity: 1;
}

.footer {
  background: linear-gradient(91.69deg, #373D71 3.52%, #515E7B 96.63%);
}
.footer__inner {
  padding: 20px 0;
}
.footer__inner p {
  font-size: 30px;
  line-height: 38px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
}

.hero {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(102.33deg, #103A3F 2.13%, #000428 92.14%);
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}
.hero__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 48px 0;
}
.hero__inner-image {
  width: calc(50% - 40px);
  max-width: 540px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.hero__inner-image-bg {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 125%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__inner-image-bg img {
  width: 100%;
}
.hero__inner-info {
  border-radius: 15px;
  background: #63646F40;
  -webkit-backdrop-filter: blur(17.5px);
          backdrop-filter: blur(17.5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 16px 16px 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 287px;
}
.hero__inner-info-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(25% - 20px);
  max-width: 63px;
}
.hero__inner-info-icon img {
  width: 100%;
}
.hero__inner-info-text {
  width: calc(75% - 25px);
}
.hero__inner-info h5 {
  color: #fff;
  margin-bottom: 8px;
}
.hero__inner-info p {
  color: #fff;
  margin-bottom: 4px;
}
.hero__inner-content {
  width: calc(50% - 40px);
  max-width: 464px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  height: 590px;
}
@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }
}