.hero {
    position: relative;
    min-height: calc(100vh - 78px);
    background: linear-gradient(102.33deg, #103A3F 2.13%, #000428 92.14%);
    padding-top: 144px;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        opacity: .1;

        img {
            @include fullImage;
        }
    }

    &__inner {
        &-row {
            display: flex;
            justify-content: space-between;
            padding: 48px 0;

        }

        &-image {
            width: calc(50% - 40px);
            max-width: 540px;
            position: relative;
            display: flex;
            align-items: flex-end;

            &-bg {
                position: absolute;
                top: 20px;
                left: 0;
                width: 100%;
                height: 125%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                }
            }
        }

        &-user {
            border-radius: 15px;
            background: #63646F40;
            backdrop-filter: blur(17.5px);
            display: flex;
            align-items: center;
            padding: 16px 16px 16px 24px;
            justify-content: space-between;
            width: 100%;
            max-width: 287px;
            transition: .3s ease;
            &:hover {
                background: #a9aab040;

            }
            &-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: calc(35% - 20px);
                max-width: 63px;

                img {
                    width: 100%;
                }
            }

            &-text {
                width: calc(65% - 20px);

            }

            h5 {
                color: $white;
                margin-bottom: 8px;
                opacity: .2;
            }

            p {
                color: $white;
                margin-bottom: 4px;
                &:last-child {
                   color: #00FF75;
                    margin: 0;
                }
            }
           
        }

        &-content {
            width: calc(50% - 40px);
            max-width: 464px;
            display: flex;
            flex-direction: column;
            border-radius: 15px;
            overflow: hidden;

            &-header {
                background: linear-gradient(91.69deg, #373D71 3.52%, #515E7B 96.63%);
                padding: 16px 16px 8px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                h4 {
                    width: 100%;
                    margin-bottom: 8px;
                    text-align: center;
                }
                p {
                    width: calc(50% - 8px);
                    margin-right: 8px;
                    text-align: end;
                    &:last-child {
                        margin: 0;
                        width: 50%;
                        text-align: start;
                    }
                }
            }
            &-intro {
                background: #23253980;
                height: 455px;
                backdrop-filter: blur(17.5px);
            }
            &-footer {
                background: linear-gradient(91.69deg, #373D71 3.52%, #515E7B 96.63%);
                padding: 13px 16px;
                text-align: center;
            }
        }
        &-info {
            display: flex;
            justify-content: space-between;
            background: rgba(35, 37, 57, 0.5);
            h4 {
              width: calc(33.3% - 10px);
              &:nth-child(2){
                max-width: 180px;
              }
            }
          }
    }
}

// 1380px
@mixin hero-xxxlg-xxxxlg {
    .hero {}
}

// 1250px
@mixin hero-xlg-xxlg-extra {
    .hero {}
}

// 1180px
@mixin hero-xlg-xxlg {
    .hero {}
}

// 1024px
@mixin hero-lg-xlg {
    .hero {}
}

// 930px
@mixin hero-md-lg {
    .hero {}
}

// 750px
@mixin hero-sm-md {
    .hero {}
}

// 650px
@mixin hero-sm-md-extra {
    .hero {}
}

// 540px
@mixin hero-xsm-sm {
    .hero {}
}

// 440px
@mixin hero-xxsm-xsm {
    .hero {}
}