.footer {
    background: linear-gradient(91.69deg, #373D71 3.52%, #515E7B 96.63%);
&__inner{
    padding: 20px 0;
    p{
        font-size: 30px;
        line-height: 38px;
        font-family: $montserrat;
        font-weight: 700;
        text-align: center;
    }
}
    
}
// 750px
@mixin footer-sm-md  {
    .footer {
        
    }
}
// 650px
@mixin footer-sm-md-extra  {
    .footer {

    }
}
// 540px
@mixin footer-xsm-sm  {
    .footer {
  
        
    }
}
// 390px
@mixin footer-xxxsm-xxsm  {
    .footer {
 
    }
}